@font-face {
  font-family: "options-icon";
  /* Project id 3621796 */
  src: url('iconfont.ttf?t=1661935828321') format('truetype');
}

.options-icon {
  font-family: "options-icon" !important;
  /* font-size: 16px; */
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  text-rendering: auto;
  font: 0.6rem/1 'options-icon';
}

.options-icon-louyuguanli:before {
  content: "\e601";
}

.options-icon-zhinenglouyu:before {
  content: "\e602";
}

.options-icon-baoshibaoxiu:before {
  content: "\e603";
}

.options-icon-hetong:before {
  content: "\e604";
}

.options-icon-kehu:before {
  content: "\e605";
}

.options-icon-zhangdan:before {
  content: "\e606";
}

.options-icon-shigongdan:before {
  content: "\e607";
}

.options-icon-erweima:before {
  content: "\e608";
}